@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@700&family=Shippori+Mincho&family=Zen+Antique&family=Zen+Old+Mincho&display=swap');

:root {
  --background: lightgray;
  --box-width: 800px;

  --text-color: black;
  --text-size: 1.5rem;
  --heading-size: 2.5rem;
  --furigana-size: 1rem;

  --svg-divisor: 1.5;
  --svg-path-color: black;
  --svg-stroke-width: 3px;
  --svg-final-fill: white;
  --svg-circle-fill: black;
  --svg-text-color: black;
  --svg-text-size: 1.5rem;
}

.hr {
  text-align: center;
  line-height: 0;

  margin-top: 1em;
  margin-bottom: 1em;

  font-size: 1em;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  align-items: stretch;
  flex-direction: column;

  max-width: var(--box-width);
  min-width: min(var(--box-width), 90%);
  min-height: min(var(--box-width), 90%);

  border-radius: 3px;
  background: var(--background);

  /* Define fallback fonts for rare CJK characters */
  font-family: "Shippori Mincho", "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: var(--text-size);
  color: var(--text-color);
}

.container {
  display: flex;
  flex-direction: row;
}

.vertical {
  writing-mode: vertical-rl;
}

.word {
  margin-left: .2em;
  margin-top: .2em;
  margin-bottom: .2em;
}

.kanji {
  font-family: "Zen Antique", "Noto Serif JP", serif;
  font-size: var(--heading-size);
}

.kanji rt {
  font-size: var(--furigana-size);
  margin-left: .2em;
  margin-top: .2em;
  margin-bottom: .2em;
}

.bottom {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

/* Pitch accent graph */
.bottom ol {
  display: contents;
  list-style-type: none;
}

/*
 * Only apply style on jj graphs (because only them have been tested)
 */
.bottom svg:not([focusable*="false"]) {

  .bottom svg {
    height: calc(75px / var(--svg-divisor)) !important;
    width: auto !important;
  }

  .bottom svg text[style*="fill:#000"]{
    fill: var(--svg-text-color) !important;
    font-size: var(--svg-text-size) !important;
    font-family: "Zen Old Mincho", serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
  }

  .bottom svg text[style*="fill:currentColor"]{
    fill: var(--svg-text-color) !important;
    font-size: var(--svg-text-size) !important;
    font-family: "Zen Old Mincho", serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
  }

  .bottom svg path[style*="stroke:#000"] {
    stroke: var(--svg-path-color) !important;
    stroke-width: var(--svg-stroke-width) !important;
  }

  .bottom svg path[style*="stroke:currentColor"] {
    stroke: var(--svg-path-color) !important;
    stroke-width: var(--svg-stroke-width) !important;
  }

  .bottom svg circle[style*="fill:#000"] {
    fill: var(--svg-circle-fill) !important;
  }

  .bottom svg circle[style*="fill:currentColor"] {
    fill: var(--svg-circle-fill) !important;
  }

  .bottom svg circle[style*="fill:#fff"] {
    fill: var(--svg-final-fill) !important;
  }

  .bottom svg circle[stroke="currentColor"] {
    stroke: var(--svg-circle-fill) !important;
    stroke-width: var(--svg-stroke-width) !important;
    fill: var(--svg-final-fill) !important;
  }

}

/* Customize anki audio button */
.native {
  display: none !important;
}

.audio {
  cursor: pointer;
  font-size: 2rem;
}
